header{
    width: 100%;
    padding: 28px 8%;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-logo{
    font-size: 24px;
    color: #e9a209;
}

#nav-list{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a{
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-item.active a{
    color: #1d1d1d;
    border-bottom: 3px solid #ffe100;
}

.btn-default{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffcb45;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover{
    background-color: #f8d477;
}

#mobile-btn{
    display: none;
}

#mobile-menu{
    display: none;
}

@media screen and (max-width: 1170px) {
    #nav-list, 
    #navbar .btn-default{
        display: none;
    }

    #mobile-btn{
        display: block;
        border: none;
        background: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile-menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #mobile-nav-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile-menu.active .nav-item{
        list-style: none;
        text-align: center ;
    }
}
